<template>
  <div class="container">
    <b-form>
      <b-form-group>
        <b-form-input v-model="email" placeholder="Email Address"></b-form-input>
      </b-form-group>

      <b-form-group>
        <b-form-input v-model="mobile" placeholder="Mobile Phone"></b-form-input>
      </b-form-group>

      <b-form-group>
        <b-form-input v-model="pwd" placeholder="Password"></b-form-input>
      </b-form-group>

      <b-form-group>
        <b-form-input v-model="confpwd" placeholder="Confirm Password"></b-form-input>
      </b-form-group>

      
      <b-button-group class="mx-1">
        <b-button variant="warning" @click="clearUser">Cancel</b-button>
      </b-button-group>
      <b-button-group class="mx-1">
        <b-button variant="primary" @click="submitUser">Submit</b-button>
      </b-button-group>
    </b-form>
  </div>
</template>

<script>
export default {
  name: "CreateUser",
  data() {
    return {
      email: "",
      mobile: "",
      pwd: "",
      confpwd: ""
    };
  },
  methods: {
    submitUser() {
      let dt = {
        email: this.email,
        mobile: this.mobile,
        pwd: this.pwd,
        confirmpwd: this.confpwd
      };
      this.$store.dispatch("createUser", dt);
    },
    clearUser() {
      this.email = "";
      this.mobile = "";
      this.pwd = "";
      this.confpwd = "";
      this.$router.push('/')
    }
  }
};
</script>

<style>
</style>
