<template>
  <div>
    <h5>Users</h5><br>
    <b-button @click="refresh">Refresh Users</b-button><br>
    <ul v-for="(user, id) in $store.getters.users" :key="id">
      <li>{{user.uname}}</li>
    </ul>
    {{$store.getters}}
  </div>
</template>

<script>
export default {
  name: "GetUser",
  data() {
    return {};
  },
  methods: {
    refresh() {
      this.$store.dispatch("getUsers");
    }
  }
};
</script>

<style>
</style>
