<template>
  <div class="container">
    <b-form>
      <b-form-group>
        <b-form-input v-model="email" placeholder="Email Address"></b-form-input>
      </b-form-group>

      <b-form-group>
        <b-form-input v-model="password" placeholder="Password"></b-form-input>
      </b-form-group>
      <b-button-group class="mx-1">
        <b-button variant="warning" @click="clearLogin">Cancel</b-button>
      </b-button-group>
      <b-button-group class="mx-1">
        <b-button variant="primary" @click="submitLogin">Submit</b-button>
      </b-button-group>
    </b-form>
  </div>
</template>

<script>
export default {
  name: "Login",
  data() {
    return {
      email: "",
      password: ""
    };
  },
  methods: {
    submitLogin() {
      let data = {
        email: this.email,
        pass: this.password
      };
      this.$store.dispatch("login", data);
    },
    clearLogin() {
      this.email = "";
      this.password = "";
      this.$router.push("/");
    }
  }
};
</script>

<style>
</style>
