<template>
  <div class="home">
    <Hello />
  </div>
</template>

<script>
// @ is an alias to /src
import Hello from "@/components/Hello";

export default {
  name: "home",
  components: {
    Hello
  }
};
</script>
