<template>
  <div>
    <div v-if="$store.getters.loggedin">
      <GetUser/>
    </div>
    <div v-else>
      <h1>HOME</h1>
      <b-button @click="createAccount">Create Account</b-button>
    </div>
  </div>
</template>

<script>
import GetUser from "./User/GetUser";
export default {
  name: "Hello",
  components: {
    GetUser
  },
  methods: {
    createAccount() {
      this.$router.push('/usercreate')
    }
  }
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h3 {
  margin: 40px 0 0;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}
</style>
