<template>
  <div id="app">
    <div v-if="$store.getters.loggedin == true">
      <div id="nav">
        <router-link to="/">
          <span @click="logout">Log Out</span>
        </router-link>
      </div>
    </div>

    <div v-else>
      <div id="nav">
        <router-link to="/">Home</router-link>|
        <router-link to="/about">About</router-link>|
        <router-link to="/login">Login</router-link>
      </div>
    </div>

    <router-view/>
  </div>
</template>

<script>
export default {
  name: "App",
  methods: {
    logout() {
      console.log("logout");
      this.$store.commit("clearUser");
      this.$router.push("/");
    }
  }
};
</script>


<style>
#app {
  font-family: "Avenir", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}
#nav {
  padding: 30px;
}

#nav a {
  font-weight: bold;
  color: #2c3e50;
}

#nav a.router-link-exact-active {
  color: #42b983;
}
</style>
